html
{
    background-color: rgb(208, 241, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(0, 0, 0);
    display: flex;
}

img
{
    border-radius: 20px;
}

header {
    background-color: #242424;
    text-align: center;
    padding: 15px;
    box-shadow: black;
    border-radius: 20px;
}

div
{
    background-color: #F1F1F1;
    border-radius: 20px;
}

main
{
    align-self: center; 
    text-align: center;
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 10px;
}

button
{
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    size: 250%;
}

form
{
    background-color: white; 
    border-radius: 20px; 
    color: black; 
    padding: 20px 30px;
    text-align: left;
    align-items: start;
}

.head > *
{
    size: 150%;
    padding: 5%;
    align-self: center;
}