html
{
    background-color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}

header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 15px;
    box-shadow: black;
    border-radius: 20px;
}

main
{
    align-self: center; 
    text-align: center;
}

button
{
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    size: 100%;
}